h1, h2 {
  color: #EF59F1;
  font-size: 2em;
  font-family: Impact;
  text-align: center;
  background-color: lightgrey;
  border: 1px solid #EF59F1;
  box-shadow: 5px 5px 5px black;
  
}

body  {
  background-color: grey;
}

.column {
    float: left;
    width: 25%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column {
        width: 100%;
    }
}

article.background p  {
  background-color: white;
  border: 1px solid black;
  text-align: center;
  
}

.background img  {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
}
.column p  {
  margin-left: 20%;
  background-color: yellow;
  display: inline-block;
  font-family: fantasy;
  border: 1px solid black;
  padding: .5em;
  margin-top: 1em;
}

.column img  {
  display: inline;
  width: 100%;
  margin-top: 1em;
  
}
.container_  {
  width: 100%;
  background: url(images/flowers.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

section  {
  float: right;
  margin-right: 2em;

}
video  {
  border: 5px solid yellow;
  margin-top: 2em;
}
h3  {
  display: block;
  background-color: white;
  text-align: center;
  border: 1px solid black;
  
}
aside  {
  float: left;
  margin-left: 2em;
}
/* this is a comment */